#layout('default')

#region('content')
    <script type="text/javascript">
        function refreshMessages() {
            $tag.reRender("home", "reloadMessages", "''", "'msgs'");
        }

        // refresh messages every 500 seconds
        window.setInterval(refreshMessages, 500);
    </script>

    <h1>Welcome to AWS Demo!</h1>

    <div id="msgs">
            #{foreach}($msg in $messages)
                <div class="row-fluid well">
                    <div class="span12">
                        $msg.content
                        <div class="row-fluid">
                            <div class="span6"><b>Sent:</b> $msg.date</div>
                            <div class="span6"><b>Saved:</b> $msg.saveDate</div>
                        </div>
                    </div>
                </div>
            #{end}
    </div>

    <div class="well">
        <form method="POST" action="$tag.formAction('home', 'addMessage')">
            <label>Message</label>
            <input type="text" name="content" />
            <input type="submit" value="Add" />
        </form>
    </div>
#end