#layout('default')

#region('content')
    <h1>Welcome to AWS Demo!</h1>

    <div id="msgs">
            #{foreach}($msg in $messages)
                <div class="row-fluid" class="well">
                    <div class="span12">
                        $msg.content
                        <div class="row-fluid">
                            <div class="span6"><b>Sent:</b> $msg.date</div>
                            <div class="span6"><b>Saved:</b> $msg.saveDate</div>
                        </div>
                    </div>
                </div>
            #{end}
    </div>

    <div class="well">
        <form method="POST" action="$tag.formAction('home', 'addMessage')">
            <label>Message</label>
            <input type="text" name="content" />
            <input type="submit" value="Add" />
            <input type="submit" value="Reload" onclick="return $tag.reRender("home", "reloadMessages", "''", "'msgs'")"/>
        </form>
    </div>
#end